<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- this is a "base configuration. Consider overwriting it with a project-specific
     logback config in downstream projects-->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>/logs/server.log</file>

        <append>true</append>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/logs/server.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.envisional" level="INFO"/>

    <logger name="org.jboss.weld" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="javax.enterprise.resource.sqltrace.com.sun.gjc.util" level="WARN" />
    <logger name="org.hibernate.orm.deprecation" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>